*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  min-height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.small {
  display: inline-block;
}

.small + .small {
  border-left: 1px solid #2094f3;
  margin-left: 10px;
  padding-left: 10px;
}

.arrow::before {
  content: "→";
  position: absolute;
  left: 0;
}

.arrow {
  position: relative;
  padding-left: 19px;
  margin-top: 5px;
}

.small:first-child a {
  display: flex;
}

.small a {
  text-decoration: none;
  color: #2094f3;
}

.code-place-js,
.code-place-css {
  font-size: 1rem;
  margin: 10px auto 50px;
}

.hidden {
  display: none !important;
}

.show-code-full-screen {
  overflow: hidden;
}

.show-code-full-screen iframe {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 100%;
  z-index: 1;
  border: 0;
}

.open-source {
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.open-source a:hover,
.open-source a.show-code {
  background-color: #000;
  color: #fff;
}

.open-source a {
  border: 1px solid #3c3c3c;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  color: #000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.hide-iframe {
  position: absolute;
  display: none;
  top: var(--pos-top);
  left: var(--pos-left);
  right: var(--pos-right);
  bottom: var(--pos-bottom);
  z-index: 2;
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  background: #ff4800;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.7;
  line-height: 1;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;
}

.hide-iframe:hover {
  opacity: 1;
}

.show-code-full-screen .hide-iframe {
  display: block;
}

.file-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2094f3;
}

.icon-file {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
