*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.tabs-example {
  margin-top: -45px !important;
  position: absolute;
}

[role="tab"][aria-selected="true"] {
  color: #0084ff !important;
  text-decoration: underline;
}

[role="tab"] {
  background: #fff !important;
  color: gray !important;
}

.customPopup .leaflet-popup-content-wrapper,
.customPopup .leaflet-popup-tip {
  background: #000;
  color: #fff;
}

.customPopup a {
  color: salmon;
  text-decoration: none;
}

.customPopup a:hover {
  text-decoration: underline;
}
