*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.area {
  padding: 5px 20px;
  border: 0;
  background-color: #464646;
  color: #fff;
  font-size: 1rem;
}

.area::before {
  border-bottom-color: #464646;
}
