*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.popup-fixed {
  position: fixed;
  top: auto;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  transform: none !important;
  margin: 0;
  border-radius: 0;
}

@media (min-width: 700px) {
  .popup-fixed {
    width: 250px;
    height: 100% !important;
    right: 0 !important;
    left: auto !important;
  }

  .leaflet-popup-content-wrapper {
    height: 100%;
  }
}

.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-popup-content {
  font-size: 16px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(255, 0, 0);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.animation {
  border-radius: 50%;
  animation: border-pulse 1.5s infinite;
}

.animation svg {
  animation: rotation 2s infinite linear;
  fill: red;
}
