@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: Lato, sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-color: #f1f1f1;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.label {
  display: block;
  font-size: 80%;
}

.search {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 100%;
}

.search input {
  font-size: 16px;
}

.search input::-ms-clear {
  display: none;
}

.search ul {
  list-style: none;
  border: 1px solid #858585;
  border-top: none;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px hsla(0, 0%, 87.5%, 0.034), 0 6.7px 5.3px hsla(0, 0%, 75.3%, 0.048),
    0 1.5px 1px hsla(0, 0%, 56.5%, 0.06), 0 2.3px 1.9px rgba(92, 92, 92, 0.072), 0 2.8px 1px rgba(63, 63, 63, 0.086);
}

.search ul li {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 10px;
}

.search ul li:not(:last-child) {
  border-top: none;
}

.search .expanded {
  border-radius: 8px 8px 0 0;
  border: 1px solid #858585;
  outline: none;
}

.search.loupe:before {
  -webkit-filter: invert(20%);
  filter: invert(20%);
}

.search.auto-is-loading:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-color: #d9d9d9 #008cff #008cff #d9d9d9;
  border-style: solid;
  border-width: 2px;
  -webkit-animation: spinner 0.6s linear infinite;
  animation: spinner 0.6s linear infinite;
}

.search.auto-is-loading .auto-clear {
  display: none;
}

.loupe .full-width {
  padding: 6px 45px 6px 40px;
}

.loupe:before {
  content: "";
  width: 20px;
  height: 20px;
  left: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23d3d3d3' d='M31.008 27.231l-7.58-6.447c-.784-.705-1.622-1.029-2.299-.998a11.954 11.954 0 002.87-7.787c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-.031.677.293 1.515.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007.23s.997-2.903-.23-4.007zM12 20a8 8 0 110-16 8 8 0 010 16z'/%3E%3C/svg%3E");
}

.auto-clear,
.loupe:before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.auto-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 40px;
  height: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.autocomplete-item.loupe {
  padding-left: 40px;
}

.auto-clear:before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z'/%3E%3C/svg%3E");
  line-height: 100%;
  height: 24px;
  width: 24px;
}

.auto-clear span {
  display: none;
}

.auto-output-search {
  display: none;
  background-color: #fff;
}

.auto-output-search.auto-is-active {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  z-index: 99999;
}

.selected {
  background-color: #e6e6e6;
  transition: background-color 0.2s ease-out;
}

.selected + li:before {
  border-top: none;
}

.init-instruction {
  display: none;
}

.auto-error {
  border: 1px solid #f33 !important;
}

.auto-error::-webkit-input-placeholder {
  color: #f66;
  opacity: 1;
}

.auto-error:-ms-input-placeholder {
  color: #f66;
  opacity: 1;
}

.auto-error::-ms-input-placeholder {
  color: #f66;
  opacity: 1;
}

.auto-error::placeholder {
  color: #f66;
  opacity: 1;
}

.full-width {
  width: 100%;
  height: 48px;
  padding: 6px 45px 6px 10px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
}

.full-width:focus {
  border: 1px solid #858585;
  outline: none;
}

.hidden {
  display: none;
}

small {
  display: inline-block;
}

small a {
  text-decoration: none;
  color: #2094f3;
}

small a:hover {
  text-decoration: underline;
}

small + small {
  border-left: 1px solid #2094f3;
  margin-left: 10px;
  padding-left: 10px;
}

.marker-position {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
}

.rotate {
  overflow: hidden;
  animation: spin 4s linear forwards;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate .pooooo {
  position: fixed;
  display: flex !important;
  align-items: center;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  border: 1px solid red;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12rem !important;
}

.legend {
  background: #fff;
  padding: 8px;
  border-radius: 5px;
}

.legend .row {
  display: flex;
  line-height: 30px;
}

.legend i {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.container {
  display: flex;
  padding: 5px;
}

.customPopup .leaflet-popup-content-wrapper,
.customPopup .leaflet-popup-tip {
  background: #000;
  color: #fff;
}

.info {
  position: absolute;
  z-index: 999;
  border: 2px solid #0084ff;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 30%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(0, 140, 255, 0.2);
  overflow: hidden;
}

.resize-h {
  resize: horizontal;
}

.resize-v {
  resize: vertical;
}

.resize {
  resize: both;
}

.flex {
  display: flex;
}

.description {
  width: 250px;
  font-size: 16px;
  color: #333;
  padding: 10px 14px;
  background-color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid grey;
}

.highlight {
  background-color: black;
  color: #fff;
}

#map-linked {
  width: 75%;
  height: 100%;
}

#voivodeship {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  width: 25%;
  z-index: 999;
  overflow-y: auto;
  background: #fff;
  padding: 10px 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#voivodeship li {
  cursor: pointer;
  padding: 2px;
}

.marker-click {
  text-decoration: none;
  color: red;
}

.marker-click:hover {
  margin-bottom: 3px;
  border-bottom: 2px solid red;
}

@media (min-width: 400px) {
  .marker-click {
    margin: 5px 10px;
  }
}

.image-controls {
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 90%;
  max-width: 500px;
}

.button-controls {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  background: #000;
  color: #fff;
  font-size: 2rem;
  line-height: 150%;
  justify-content: center;
  align-items: flex-end;
  border-radius: 3px;
  transition: background 500ms ease-in-out;
}

.button-controls:hover {
  background: rgb(255, 0, 0);
}

.disabled {
  pointer-events: none;
  opacity: 0.1;
}

.active {
  margin-bottom: 3px;
  border-bottom: 2px solid red;
}

.image-icon {
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.flex {
  display: flex;
  flex-direction: row;
}

.story-content {
  width: 100%;
  height: 100%;
}

.story {
  background: #fff;
  width: 550px;
  overflow-y: auto;
}

.story article {
  padding: 30px 10px;
  min-height: 500px;
}

.story .active {
  background: #f1f1f1;
  border: none;
  margin-bottom: 0;
}

.story small {
  display: block;
  text-align: center;
}

.story h2 {
  text-align: center;
  line-height: 1.1;
  font-size: 1.4rem;
}

.story h2 span {
  font-weight: normal;
}

.story img {
  margin-top: 10px;
}

.story p {
  margin: 10px auto;
}
