*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  padding: 5px;
}
.container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.row {
  width: 100%;
}

.row h4 {
  margin-bottom: 10px;
}

.leaflet-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  box-shadow: 0px 0px 10px rgba(0, 132, 255, 1);
  border-radius: 100%;
  border: 1px solid #fff;
  padding: 10px;
}

.search-tip b {
  color: #fff;
}

.bar,
.bar.search-tip b,
.bar.leaflet-marker-icon {
  background: #be4dff;
}

.pharmacy,
.pharmacy.search-tip b,
.pharmacy.leaflet-marker-icon {
  background: #ff8146;
}

.restaurant,
.restaurant.search-tip b,
.restaurant.leaflet-marker-icon {
  background: #ff3939;
}

.search-tip {
  white-space: nowrap;
}

.search-tip b {
  display: inline-block;
  padding: 0 4px;
  margin-left: 4px;
}

.place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.place-item {
  color: #fff;
  padding: 5px;
  font-size: 70%;
  border-radius: 3px;
  text-transform: uppercase;
}

.legend {
  background: #fff;
  padding: 8px;
  border-radius: 5px;
}

.legend .row {
  display: flex;
  line-height: 30px;
}

.legend i {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.max-height ul {
  max-height: 350px;
  overflow: auto;
}
