*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

/* ----------------------------------------- */

.first-marker {
  display: table;
  width: fit-content !important;
  white-space: nowrap;
  top: 15px;
  left: calc(var(--width-text) * -1 + 10px);
  text-align: center;
  min-height: 20px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* ----------------------------------------- */

.second-marker {
  border: 1px solid red;
  background-color: red;
  color: white;
  padding: 8px 20px 4px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 100%;
}
.second-marker::before {
  border-bottom-color: red;
}

/* ----------------------------------------- */

.leaflet-marker-label {
  text-transform: uppercase;
  width: fit-content !important;
  height: auto !important;
  color: black;
}

.leaflet-marker-iconlabel {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 3px 10px #888;
  display: block;
  padding: 5px 16px;
  white-space: nowrap;
  font-weight: bold;
}
