*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.description,
.follow-mouse {
  font-size: 13px;
  color: #333;
  padding: 5px 10px;
  background-color: hsla(0, 0%, 100%, 1);
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid grey;
}

#map {
  cursor: crosshair;
}

.follow-mouse {
  position: absolute;
  margin: 0;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 9999;
  font-size: 1rem;
}
